<% layout('layout') -%>
<div class="app-box-scroll-wrapper">
  <div class="app-box">
    <div class="app-box-content">
      <div class="app-box-overlay">
        <div class="app-box-overlay-bottom">
        </div>
      </div>
      <h1>Cal Hacks 5.0 Cubstart Application</h1>
      <form action="/cubstart" id="cubstart" method="post" encType='multipart/form-data'>
        <%
          var data = {};
          if (user.Application) {
            data = user.Application;
          }
        %>

        <!-- For cubstart only -->
        <span id="cubstart-questions">
          <h3>Tell us the story of how you discovered computer science, design, or your special area of interest.  How do your individual perspectives and identity contribute to what "hacking" means to you? <span class="required">*</span></h3>
          <textarea id="cubstart1" name="cubstart1" rows="5"><%= data.cubstart1 || '' %></textarea>
          <p class="form-error" id="cubstart1-error"></p>

          <h3>Describe something that you created (technical or non-technical, it doesn’t matter!), and elaborate on how you made it.  What did you learn?  Why did you love building it? <span class="required">*</span></h3>
          <textarea id="cubstart2" name="cubstart2" rows="5"><%= data.cubstart2 || '' %></textarea>
          <p class="form-error" id="cubstart2-error"></p>

          <h3>What’s the dream innovation you hope to create within your lifetime?  If you had to bring it into effect somehow, what are some of the roadblocks you would expect and how would you account for them? <span class="required">*</span></h3>
          <textarea id="cubstart3" name="cubstart3" rows="5"><%= data.cubstart3 || '' %></textarea>
          <p class="form-error" id="cubstart3-error"></p>

          <h3>What programming experience do you have (if any)? <span class="required">*</span></h3>
          <textarea id="cubstart4" name="cubstart4" rows="5"><%= data.cubstart4 || '' %></textarea>
          <p class="form-error" id="cubstart4-error"></p>
        </span>

        <input type="submit" value="Save app" />
      </form>
    </div>
  </div>
</div>
