<% layout('layout') -%>
<div class="center-large-box">
  <h1>Dashboard</h1>
  <div id="center-large-box-left">
    <div id="application-tab-item" class="left-tab selected">
      Application
    </div>
    <div id="cubstart-tab-item" class="left-tab">
      Cubstart
    </div>
    <div id="team-tab-item" class="left-tab">
      Team
    </div>
  </div>
  <div id="center-large-box-right">

    <div id="application-tab" class="tab tab-visible">
      <%
      var app = user.Application
      if (app) { %>
        <p>Your application is all set! If you want to make changes, you can still edit your application before the deadline.</p>
        <div class="button-justified">
          <button onclick="location.href='/application';">Edit Application</button>
        </div>
      <% } else { %>
        <p>You haven't started your application yet! You have until the following deadlines: </p>
        <ul style="list-style: none;">
          <li><p>Out of State: September 24th</p></li>
          <li><p>Out of Area (California): October 1st</p></li>
          <li><p>Berkeley Students: October 8th</p></li>
        </ul>
        <div class="button-justified">
          <button onclick="location.href='/application';">Start Application</button>
        </div>
      <% } %>
    </div>

    <div id="team-tab" class="tab">
      <%
      if (user.Team) { %>
        <div>
          <p>Team name: <b><%= user.Team.name %></b></p>
          <% for (var u of user.Team.Users) { %>
            <p class="team-member"><b><%= u.firstname + ' ' + u.lastname %></b><%=' (' + u.email + ')' %></p>
          <% } %>
        </div>
        <div class="button-justified">
          <form method="post" action="/leaveTeam">
            <button type="submit">Leave Team</button>
          </form>
        </div>
      <% } else { %>
        <p>To join a team (or create a team if it doesn't exist), type your team name below.</p>
        <form name="team" method="post" action="/team">
          <input type="text" name="name"
            value="<%= user.Team ? user.Team.name : '' %>"
            placeholder="Team name"/>
          <input type="submit" value="Submit" />
        </form>
      <% } %>
    </div>

    <div id="cubstart-tab" class="tab">
      <%
       if (user.CubStart) { %>
         <p>Your application is all set! If you want to make changes, you can still make edits to your application before the deadline, Octoeber 8th.</p>
         <div class="button-justified">
           <button onclick="location.href='/cubstart';">Edit Cubstart app</button>
         </div>
      <% } else { %>
        <p>You haven't started your Cubstart application yet! You have until October 8th to finish.</p>
        <div class="button-justified">
          <button onclick="location.href='/cubstart';">Start Cubstart Application</button>
        </div>
      <% } %>
    </div>

  </div>
</div>

<script>
var tabNames = ['application', 'team', 'cubstart'];

function setTab(tabName) {
  $(".left-tab").attr("class", "left-tab");
  $("#" + tabName + "-tab-item").addClass("selected")
  $(".tab").attr("class", "tab");
  $("#" + tabName + "-tab").addClass("tab-visible");
  window.location.hash = tabName;
}

$(".left-tab").on("click", function() {
  var tabName = $(this).attr("id").split("-")[0];
  setTab(tabName);
});

var hash = window.location.hash.substr(1);
if (tabNames.indexOf(hash) !== -1) {
  setTab(hash);
} else {
  setTab(tabNames[0]);
}
</script>
