<% layout('layout') -%>
<div class="center-small-box">
    <div class="logo-container">
        <img src="./img/text-logo.png" />
    </div>
    <h1>Sad bears! :(</h1>
    <p>We couldn't find the page you were looking for.</p>
</div>
