<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cal Hacks 5.0</title>
  <meta name="description" content="It's time for round 5.0. The world's largest collegiate hackathon is back for its fifth anniversary!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="0; url=https://live.calhacks.io">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon"/>
  <link rel='stylesheet' href='./assets/css/style.css'>

  <!-- Google fonts. -->
  <link href='https://fonts.googleapis.com/css?family=Muli|Nunito+Sans:600,800' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Animate on scroll CSS library. -->
  <link rel="stylesheet" href="./assets/css/aos.css" />
  <script src="./assets/js/aos.js"></script>
  <script>
  $(function() {
    AOS.init({
      offset: 0,
      duration: 600,
      easing: 'ease-in-sine',
      delay: 0
    });
  });
  </script>

  <!-- Local JavaScript. -->
  <script src='./assets/js/index.js'></script>
</head>
<body>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Navigation bar. -->
  <div class='header' data-aos='fade-down' data-aos-duration=400 data-aos-delay=0>

    <div class='header-container'>
      <a href='#home' class='home'><img src='./assets/images/home_1.png'><img id='text' src='./assets/images/home_2.png'></a>
      <div class='nav'>
        <a href='#about' class='nav-item'>About</a>
        <a href='#inclusion' class='nav-item'>Inclusion</a>
        <a href='#initiatives' class='nav-item'>Initiatives</a>
        <a href='#sponsor' class='nav-item'>Sponsor</a>
        <a href='#faq' class='nav-item'>FAQ</a>
        <a href="javascript:void(0);" id='hamburger' class="icon" onclick="toggleMobileNav()">
          <i class="fa fa-bars stretch"></i>
        </a>
        <a target='_blank' href='https://2018.calhacks.io/login' class='nav-item apply'>Login</a>
        <a id="mlh-trust-badge" href="https://mlh.io/seasons/na-2019/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2019-season&utm_content=white" target="_blank">
          <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2019/mlh-trust-badge-2019-white.svg" alt="Major League Hacking 2019 Hackathon Season" style="width:100%">
        </a>
      </div>
    </div>

  </div>

  <div class='mobile-nav' id='mobile-nav'>
    <a href="javascript:void(0);" id='close' class="mobile-icon" onclick="toggleMobileNav()">
      <i class="fa fa-close stretch"></i>
    </a>
    <a href=''class='mobile-nav-item'></a>
    <a href=''class='mobile-nav-item'></a>
    <a href='#about' onclick="toggleMobileNav()" class='mobile-nav-item'>About</a>
    <a href='#inclusion' onclick="toggleMobileNav()" class='mobile-nav-item'>Inclusion</a>
    <a href='#initiatives' onclick="toggleMobileNav()" class='mobile-nav-item'>Initiatives</a>
    <a href='#sponsor' onclick="toggleMobileNav()" class='mobile-nav-item'>Sponsor</a>
    <a href='#faq' onclick="toggleMobileNav()" class='mobile-nav-item'>FAQ</a>
    <a target='_blank' href='https://2018.calhacks.io/login' class='mobile-nav-item apply'>Login</a>
  </div>

  <!-- Main content. -->
  <div class='container'>

    <!-- Title. -->
    <div class='section' id='home'>
      <div class='buffer'></div>
      <div class='title' data-aos='fade-up'>
        <h1 class='main'> It's time for round 5.0 </h1>
        <h2 class='sub'> November 2-4, 2018 <br/> California Memorial Stadium </h2>
        <a target='_blank' href='https://2018.calhacks.io/login' class='apply'> Login </a>
      </div>
      <div class='ddoski' data-aos='fade-up-left' data-aos-duration=500><img src='./assets/images/ddoski.png'/></div>
      <div class='node node-1' data-aos='fade-up-right' data-aos-delay=50><img src='./assets/images/nodes/node-1.svg'/></div>
      <div class='node node-2' data-aos='fade-up-left' data-aos-delay=0><img src='./assets/images/nodes/node-2.svg'/></div>
    </div>

    <div class='buffer first'></div>

    <!-- About. -->
    <div class='section' id='about' data-aos='fade-up-right'>
      <h2> The world's largest collegiate hackathon is back! </h2>
      <p>
        Last fall, Hack the Bay organized Cal Hacks 4.0 to bring together 2,200 attendees from 50 universities and 5 countries to build everything from mind-controlled vehicles to artificial intelligence for language learning.
        <br/><br/>
        For Cal Hacks 5.0, we’re building on our tradition of technical & inclusive excellence by bringing together the world’s brightest collegiate hackers and guiding them in creating impactful, diverse, & innovative projects.
      </p>
      <div class='node node-3' data-aos='fade-up'><img src='./assets/images/nodes/node-3.svg'/></div>
      <div class='node node-4' data-aos='fade-up' data-aos-delay=100><img src='./assets/images/nodes/node-4.svg'/></div>
    </div>

    <div class='small-buffer'></div>

    <!-- Inclusion, for code of conduct information. -->
    <div class='section' id='inclusion' >
      <h2> Inclusion </h2>
      <p>
        It is a crucial aspect of our mission to embrace and promote inclusivity, accessibility, & ethicality.
        All participants are expected to respect both our and MLH's Code of Conduct in order to facilitate a positive hackathon experience!
      </p>
      <a target='_blank' href='./code-of-conduct' class='conduct'> Hack the Bay Code of Conduct </a>
      <a href='https://static.mlh.io/docs/mlh-code-of-conduct.pdf' target='_blank' class='conduct'> MLH Code of Conduct </a>
    </div>

    <div class='extra-small-buffer'>
      <div class='node node-5' data-aos='fade-up'><img src='./assets/images/nodes/node-5.svg'/></div>
      <div class='node node-6' data-aos='fade-up'><img src='./assets/images/nodes/node-6.svg'/></div>
    </div>

    <!-- Initiatives. -->
    <div class='section' id='initiatives' >
      <h2> Initiatives </h2>
      <h3> CubStart </h3>
      <p>
        CubStart is a beginner hacker program to help hackathons be less intimidating and more accessible for everyone! We provide a mentorship program for team building, ideation, basic hackathon skills, and technical workshops to encourage those with little or no CS experience to try out hackathons and coding!
      </p>
      <p>
        You can learn more about CubStart through our FAQ linked below. If you have any additional questions, send them to cubstart@calhacks.io!
      </p>
      <a target='_blank' href='https://tinyurl.com/ch5cubstartfaq' class='conduct'> CubStart FAQ </a>
      <p class='sub'>
        * Currently, CubStart is only available to UC Berkeley students, although we are working towards expanding to other schools in the future.
        <br/><br/>
        While acceptance to CubStart guarantees acceptance to Cal Hacks 5.0, we highly encourage you to apply to both Cal Hacks 5.0 as well as CubStart.
      </p>
      <h3> Fellowship </h3>
      <p>
        Why do you have to stop hacking after the hackathon is over? You don’t! Hack the Bay started The Cal Hacks Fellowship, a program that hosts several hackathon teams after the hackathon to continue building their projects to whatever stages they want to take it to next stage.
        <br/><br/>
        If you are interested in participating in the Fellowship, be on the lookout for the "Fellowship Awards" at Cal Hacks 5.0.
      </p>
      <div class='fellowship'><img src='./assets/images/fellowship.png'></div>
    </div>

    <!-- Speakers. -->
    <div class='section hidden' id='speakers' >
      <h2> Speakers </h2>
      <p>
        Leaders, mentors, sponsors, and other infulential members of the tech community come to Cal Hacks to interact and inspire. Stay tuned for this year’s speakers and judges!
      </p>
    </div>

    <div class='carousel hidden' data-aos='fade-up'>
      <div class='overlay'></div>
      <div class='tile'>
        <div class='tile-photo'>
        </div>
        <div class='name'>Lorem ipsum</div>
        <div class='about'>Dolor sit amet</div>
      </div>
      <div class='tile'>
        <div class='tile-photo'>
        </div>
        <div class='name'>Lorem ipsum</div>
        <div class='about'>Dolor sit amet</div>
      </div>
      <div class='tile'>
        <div class='tile-photo'>
        </div>
        <div class='name'>Lorem ipsum</div>
        <div class='about'>Dolor sit amet</div>
      </div>
      <div class='tile'>
        <div class='tile-photo'>
        </div>
        <div class='name'>Lorem ipsum</div>
        <div class='about'>Dolor sit amet</div>
      </div>
      <div class='tile'>
        <div class='tile-photo'>
        </div>
        <div class='name'>Lorem ipsum</div>
        <div class='about'>Dolor sit amet</div>
      </div>
      <div class='tile'>
        <div class='tile-photo'>
        </div>
        <div class='name'>Lorem ipsum</div>
        <div class='about'>Dolor sit amet</div>
      </div>
      <div class='tile'>
        <div class='tile-photo'>
        </div>
        <div class='name'>Lorem ipsum</div>
        <div class='about'>Dolor sit amet</div>
      </div>
    </div>

    <!-- Sponsor. -->
    <div class='section' id='sponsor' >
      <h2> Sponsor </h2>
      <p>
        Each year, our sponsors help us unite thousands of attendees from dozens of universities across the globe — bringing together the world's brightest collegiate hackers for 36 hours straight.
        <br/><br/>
        Sponsoring Cal Hacks connects you with a diverse group of students that aim to innovate. Our hackers have shipped their Cal Hacks projects to thousands of people, founded YC startups, and conducted groundbreaking research. Join us in facilitating a new culture of doing and creating.
        <br/><br/>
        Thank you so much for your interest in helping us fuel the future of tech. Please feel free to reach out to us via email to receive updates!
      </p>
      <a class='conduct sponsor' target='_blank' href='mailto:team@calhacks.io'>Partner with us</a>
      <p>
         Below are the sponsors currently coming out to Cal Hacks 5.0!
      </p>
      <div class='logo-grid'>
          <div class="flex-grid-3">
              <!-- row begin -->
              <a href="https://www.microsoft.com/en-us/" target="_blank">
                  <img src='./assets/images/sponsors/microsoft.png'/>
              </a>
              <a href="https://www.blackrock.com" target="_blank">
                  <img src='./assets/images/sponsors/blackrock.png'/>
              </a>
              <a href="https://tron.network" target="_blank">
                  <img src='./assets/images/sponsors/tron.png'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="https://www.paypal.com/us/home" target="_blank">
                  <img src='./assets/images/sponsors/paypal.png'/>
              </a>
              <a href="https://www.cisco.com/" target="_blank">
                  <img src='./assets/images/sponsors/cisco.png'/>
              </a>
              <span>
                  <a href="https://www.ford.com/" target="_blank">
                      <img src='./assets/images/sponsors/ford-solo.png'/>
                  </a>
                  <a href="https://www.smartdevicelink.com/" target="_blank">
                      <img src='./assets/images/sponsors/sdl.png'/>
                  </a>
              </span>

              <!-- row end -->
              <!-- row begin -->
              <a href="https://www.ibm.com/us-en/" target="_blank">
                  <img src='./assets/images/sponsors/ibm.png'/>
              </a>
              <a href="https://www.omnisci.com" target="_blank">
                  <img src='./assets/images/sponsors/omnisci.png'/>
              </a>
              <a href="https://www.avast.com" target="_blank">
                  <img src='./assets/images/sponsors/avast.svg'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="http://www.eluv.io/" target="_blank">
                  <img src='./assets/images/sponsors/eluvio.png'/>
              </a>
              <a href="http://citris-uc.org/" target="_blank">
                  <img src='./assets/images/sponsors/cf.png'/>
              </a>
              <a href="http://citrisfoundry.org/" target="_blank">
                  <img src='./assets/images/sponsors/cf2.png'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="https://techfund.berkeley.edu/home" target="_blank">
                  <img src='./assets/images/sponsors/stf.png'/>
              </a>
              <a href="http://skydeck.berkeley.edu/" target="_blank">
                  <img src='./assets/images/sponsors/skydeck.png'/>
              </a>
              <a href="https://www.dji.com/" target="_blank">
                  <img src='./assets/images/sponsors/dji.png'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="https://www.thoughtspot.com/" target="_blank">
                  <img src='./assets/images/sponsors/thoughtspot.png'/>
              </a>
              <a href="https://www.etsy.com/" target="_blank">
                  <img src='./assets/images/sponsors/etsy.png'/>
              </a>
              <a href="https://www.atlassian.com/" target="_blank">
                  <img src='./assets/images/sponsors/atlassian.svg'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="https://www.citrix.com/" target="_blank">
                  <img src='./assets/images/sponsors/citrix.png'/>
              </a>
              <a href="https://www.deshaw.com/" target="_blank">
                  <img src='./assets/images/sponsors/deshaw.png'/>
              </a>
              <a href="https://www.softheon.com/Site/home" target="_blank">
                  <img src='./assets/images/sponsors/softheon.png'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="https://www.redfin.com/" target="_blank">
                  <img src='./assets/images/sponsors/redfin.png'/>
              </a>
              <a href="epson.com/moverio" target="_blank">
                  <img src='./assets/images/sponsors/epson.png'/>
              </a>
              <a href="academia.edu" target="_blank">
                  <img src='./assets/images/sponsors/academia.png'/>
              </a>
              <!-- row end -->
              <a href="https://www.here.com/en" target="_blank">
                  <img src='./assets/images/sponsors/here.png'/>
              </a>
              <a href="http://www.arborventures.com/" target="_blank">
                  <img src='./assets/images/sponsors/arbor-ventures.png'/>
              </a>
              <a href="https://www.mongodb.com/" target="_blank">
                  <img src='./assets/images/sponsors/mongodb.png'/>
              </a>
              <!-- row end -->
          </div>
          <div class="flex-grid-4">
              <!-- row begin -->
              <a href="https://www.uipath.com/" target="_blank">
                  <img src='./assets/images/sponsors/uipath.svg'/>
              </a>
              <a href="https://brave.com/" target="_blank">
                  <img src='./assets/images/sponsors/brave.png'/>
              </a>
              <a href="https://consensys.net/" target="_blank">
                  <img src='./assets/images/sponsors/consensys.png'/>
              </a>
              <a href="https://gnosis.pm/" target="_blank">
                  <img src='./assets/images/sponsors/gnosis.png'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="http://www.emdmillipore.com/US/en" target="_blank">
                  <img src='./assets/images/sponsors/millipore.png'/>
              </a>
              <a href="https://cloud.google.com/" target="_blank">
                  <img src='./assets/images/sponsors/cpg.png'/>
              </a>
              <a href="http://www.ironfireventures.com/venture_about" target="_blank">
                  <img src='./assets/images/sponsors/ironfire.png'/>
              </a>
              <a href="https://www.hackerearth.com/" target="_blank">
                  <img src='./assets/images/sponsors/hackerearth.png'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="https://www.nexmo.com" target="_blank">
                  <img src='./assets/images/sponsors/nexmo.png'/>
              </a>
              <a href="https://www.bearfounders.com/" target="_blank">
                  <img src='./assets/images/sponsors/catalyst.png'/>
              </a>
              <a href="https://www.ocf.berkeley.edu/" target="_blank">
                  <img src='./assets/images/sponsors/ocf.svg'/>
              </a>
              <a href="https://www.facebook.com/" target="_blank">
                  <img src='./assets/images/sponsors/facebook.png'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="https://scet.berkeley.edu/" target="_blank">
                  <img src='./assets/images/sponsors/scet.png'/>
              </a>
              <a href="https://sentry.io/welcome/" target="_blank">
                  <img src='./assets/images/sponsors/sentry.png'/>
              </a>
              <a href="http://www.1517fund.com/" target="_blank">
                  <img src='./assets/images/sponsors/1517.jpg'/>
              </a>
              <a href="https://www.menlovc.com/" target="_blank">
                  <img src='./assets/images/sponsors/menlo.png'/>
              </a>
              <!-- row end -->
              <!-- row begin -->
              <a href="https://bea.berkeley.edu/" target="_blank">
                  <img src='./assets/images/sponsors/bea.png'/>
              </a>
              <a href="https://www.timebyping.com/" target="_blank">
                  <img src='./assets/images/sponsors/ping.png'/>
              </a>
              <a href="http://hackp.ac/mlh-stickermule-hackathons" target="_blank">
                  <img src='./assets/images/sponsors/stickermule.png'/>
              </a>
              <a href="https://www.sparklistapp.com/" target="_blank">
                  <img src='./assets/images/sponsors/sparklist.png'/>
              </a>
              <!-- row end -->
          </div>
          <div class="flex-grid-4">
              <!-- row begin -->
              <span></span>
              <a href="https://youinkit.com/" target="_blank">
                  <img src='./assets/images/sponsors/youinkit.png'/>
              </a>
              <a href="https://thehouse.build/" target="_blank">
                  <img src='./assets/images/sponsors/thehouse.png'/>
              </a>
              <span></span>
              <!-- row end -->
          </div>
      </div>
    </div>

    <!-- <div class='small-buffer'></div> -->

    <div class='section' id='faq' >
      <h2> FAQ </h2>
      <div class='faq-content'>
        <div class='column left'>

          <div class='faq-item'>
            <div class='question'>
              What is a hackathon?
            </div>
            <div class='answer'>
              A hackathon is where you can transform crazy ideas into reality. Join us at Cal Hacks this year alongside the 1,700 other hackers from all over the globe to share, inspire, teach, and most importantly build.
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              When are applications due?
            </div>
            <div class='answer'>
              The deadline to complete your application is <b>9/24</b> for out-of-state students, <b>10/1</b> for out-of-area students in California, and <b>10/8</b> for Berkeley students.
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              Can I attend without being a hacker?
            </div>
            <div class='answer'>
            Yes! We'd love for you to apply to be a <a class='highlight' href='https://tinyurl.com/ch5volunteer' target=_blank>volunteer</a> or <a class='highlight' href='https://tinyurl.com/ch5mentor' target=_blank>mentor</a> &mdash; we could not make this event happen without our amazing volunteers & mentors.
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              What if I don’t know how to code?
            </div>
            <div class='answer'>
              Cal Hacks is the perfect place to learn! We believe that some of the next great ideas will come from the fresh and diverse minds of individuals who innovate new solutions to hidden problems — we’re inviting you to come create with us. CubStart is a pre-hackathon beginning hacker program to help hackathons be less intimidating and more accessible for everyone! We provide a mentorship program for team building, ideation, basic hackathon skills, and technical workshops to encourage those with little or no CS experience to try out hackathons and coding!
              <br/><br/>
              This program includes pre-hackathon workshops to help you gear up and learn all the skills you’ll need to build something you’re proud of as well as continuous individualized mentorship throughout the hackathon.
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              How do teams work?
            </div>
            <div class='answer'>
              Teams can be up to 4 people large. To apply as part of a team, the application will allow you to generate a team code. Make sure everyone applying as part of your team submits this team code in their application. If you don’t have a team prior to Cal Hacks, don’t worry because we’ll host team matching sessions! You may also compete solo but that will be soo much less fun.
            </div>
          </div>

        </div>

        <div class='column right'>

          <div class='faq-item'>
            <div class='question'>
              How much will this cost?
            </div>
            <div class='answer'>
              Cal Hacks is free for all accepted hackers. We will be providing meals, caffeine, workspace, swag, and WiFi for the weekend. Travel reimbursements or bussing will be available for qualifying hackers. All you have to do is come ready to make!
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              Who can attend?
            </div>
            <div class='answer'>
              Cal Hacks applications are open to all high school and college (both undergrad and grad) students over the age of 18.
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              What should I bring?
            </div>
            <div class='answer'>
              All you need is a valid student ID, a laptop, and chargers. A change of clothes and a pillow and/or sleeping bag is recommended.
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              What is the schedule of the event?
            </div>
            <div class='answer'>
              The Cal Hacks 5.0 schedule will be released closer to the event but plan on arriving at the event on the evening of Friday, November 2nd and leaving in the afternoon of Sunday, November 4th.
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              What can my team build?
            </div>
            <div class='answer'>
              Anything your heart desires! Any hardware, software, or tech-related thing you and your team can come up with! Projects will be judged on creativity, technical difficulty, polish, and usefulness.
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              What if I want to work on my hack after the hackathon is over?
            </div>
            <div class='answer'>
              We started The Cal Hacks Fellowship, a program that hosts several hackathon teams after the hackathon to continue building their projects to whatever stages they want to take it to next.
              <br/><br/>
              We offer many things like one-on-one mentorship, direct interactions with industry professionals and venture capitalists, office space at The SkyDeck and the House, equity-free funding, and access to future hack nights. We recommend all hackers to apply to our program to take their projects to the next level!
            </div>
          </div>

          <div class='faq-item'>
            <div class='question'>
              What is the Hack the Bay code of conduct?
            </div>
            <div class='answer'>
              Please see the <a href='#inclusion'> Inclusion </a> section above for detailed code of conduct.
            </div>
          </div>


        </div>

      </div>
    </div>

    <div class='footer'>
      <a target='_blank' href='https://calhacks.io' class='home'><img src='./assets/images/hackanile.png'></a>
      <div class='links'>
        <a target='_blank' href='mailto:team@calhacks.io' class='link-item'><img src='./assets/images/icons/email.png'/></a>
        <a target='_blank' href='https://www.facebook.com/CalHacks' class='link-item'><img src='./assets/images/icons/facebook.png'/></a>
        <a target='_blank' href='https://github.com/calhacks' class='link-item'><img src='./assets/images/icons/github.png'/></a>
        <a target='_blank' href='https://www.instagram.com/calhacks/' class='link-item'><img src='./assets/images/icons/instagram.png'/></a>
        <a target='_blank' href='https://twitter.com/calhacks' class='link-item'><img src='./assets/images/icons/twitter.png'/></a>
      </div>
    </div>

  </div>



</body>
</html>
