<% layout('layout') -%>
<div class="center-small-box">
    <div class="logo-container">
        <img src="./img/text-logo.png" />
    </div>

    <p>You still need to reset your password. We've
    sent you an email at <%- user.email %>.</p>
</div>
