<% layout('layout') -%>
<div class="center-small-box">
    <div class="logo-container">
        <img src="./img/text-logo.png" />
    </div>

    <p>Congrats, you've changed your password! You can
    login now.</p>

    <button class='normal' onclick="location.href='/login'">Login</button>
</div>
