<% layout('layout') -%>
<div class="center-small-box">
    <div class="logo-container">
        <img src="./img/text-logo.png" />
    </div>

    <p>Congrats, you've changed your password! You can
    <a href="/login">login</a> now.</p>
</div>
