<% layout('layout') -%>
<div class="center-small-box">
    <div class="logo-container">
        <img src="./img/text-logo.png" />
    </div>
    <p>Please enter your email below and follow the link to reset your password.</p>&nbsp;
    <form id="reset" name="reset" method="post" action="/reset_password">
    <input
        class="small"
        name="email"
        type="email"
        placeholder="email" />
        <div
            class="button-container">
            <input
                type="submit"
                value="Reset" />
        </div>
    </form>
  </div>
