<% layout('layout') -%>
<div class="center-small-box">
    <div class="logo-container">
        <img src="./img/text-logo.png" />
    </div>
    <form id="signup" name="signup" method="post" action="/signup">
        <h1>Sign up</h1>

        <h4>Berkeley Students Must Use Berkeley Email</h4> <br>

        <div class="small horizontal-container">
            <input
                class="half"
                name="firstname"
                type="text"
                placeholder="first name" />

            <input
                class="half"
                name="lastname"
                type="text"
                placeholder="last name" />
        </div>

        <input
            class="small"
            name="email"
            type="email"
            placeholder="email" />

        <input
            class="small"
            name="password"
            type="password"
            placeholder="password" />

        <div
            class="button-container">

            <a href="./login">Have an account?</a>
            <input
                type="submit"
                value="Sign up" />
        </div>

        <% if (flash.error) { %>
            <div
                class="flash-container">
                <%= flash.error %>
            </div>
        <% } %>
    </form>
</div>
