<% layout('layout') -%>
<div class="center-small-box">
    <form id="signup" name="signup" method="post" action="/signup">
        <input
            class="small"
            name="email"
            type="email"
            placeholder="Email" />

        <input
            class="small"
            name="firstname"
            type="text"
            placeholder="First name" />

        <input
            class="small"
            name="lastname"
            type="text"
            placeholder="Last name" />

        <input
            class="small"
            name="password"
            type="password"
            placeholder="Password" />

        <input
            type="submit"
            value="Sign Up" />
    </form>
</div>
