<% layout('layout') -%>
<div>
    Home :^)
    <a href="https://www.ocf.berkeley.edu">
        <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
            alt="Hosted by the OCF" style="border: 0;" />
    </a>
</div>
