<% layout -%>
<div>
  <%
  if (success) { %>
    <div>Success! Your email was verified. You can login now...</div>
  <% } else { %>
    <div>There was an error verifying your email.</div>
  <% }
  %>
</div>